<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(errorMessage && errorMessage.length > 0) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="title">E-mail</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                    type="email" 
                    name="email" 
                    id="email" 
                    value="<%= oldInput.email %>"  
                />
            </div>
            <div class="form-control">
                <label for="imageUrl">Password</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<%= oldInput.password %>" 
                />
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit">Login</button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>