<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(errorMessage && errorMessage.length > 0) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="title">Username</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'username') ? 'invalid' : '' %>"
                    type="text"
                    name="username"
                    id="username" 
                    value="<%= oldInput.username %>" 
            />
            </div>
            <div class="form-control">
                <label for="signupEmail">E-mail</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'signupEmail') ? 'invalid' : '' %>"
                    type="email"
                    name="signupEmail"
                    id="signupEmail" 
                    value="<%= oldInput.signupEmail %>" 
            />
            </div>
            <div class="form-control">
                <label for="signupPassword">Password</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'signupPassword') ? 'invalid' : '' %>" 
                    type="password" 
                    name="signupPassword" 
                    id="signupPassword" 
                    value="<%= oldInput.signupPassword %>" 
                />
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>"
                    type="password" 
                    name="confirmPassword" 
                    id="confirmPassword" 
                    value="<%= oldInput.confirmPassword %>" 
                />
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>