<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <%- include('../includes/side-navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/add-details" method="POST">
            <input type="hidden" value="<%= username %>" name="name" />
            <input type="hidden" value="<%= lastLoginDate %>" name="last_login" />
            <div class="form-control">
                <label for="balance">Balance</label>
                <input type="number" name="balance" id="balance" step="0.01" value="" />
            </div>
            <div class="form-control">
                <label for="date">Transaction Date</label>
                <input type="date" name="date" id="date" />
            </div>
            <div class="form-control">
                <label for="amount">Transaction Amount</label>
                <input type="number" name="amount" id="amount" step="0.01" value="" />
            </div>
            <div class="form-control">
                <label for="description">Transaction Description</label>
                <textarea name="description" id="description" rows="5"></textarea>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit">Add Details</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>