<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <%- include('../includes/side-navigation.ejs') %>
    <main>
        <header class="username-style">
            <h2><span class="title-style">Welcome <%= userName %>!</span></h2>
            <span class="last-login__text-size"><em>Last Login: <%= lastLogin %></em></span>
        </header>
        <% if (transaction && transaction.length > 0) { %>
            <div class="grid">
                <p class="balance-text__style">Account Balance: &#163;<%= accbalance %></p>
                <table class="user-details__grid">
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                    <% transaction.forEach(data => { %>
                        <tr>
                            <td><%= data.date %></td>
                            <td><%= data.description %></td>
                            <td><%= data.amount %></td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        <% } else { %>
            <div class="grid">
                <h1>No User Detail's Found!</h1>
            </div>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>