<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <div class="logo-text">
            <span class="small-text">Node JS</span>
            <span class="logo-text__size">iJavaScript</span>
        </div>
        <ul class="main-header__item-list"></ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Sign Up</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button class="logout">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
</header>

<!-- Mobile screen -->
<nav class="mobile-nav">
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Sign Up</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button>Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
</nav>