<% if (isAuthenticated) { %>
<div class="main-header__side-nav">
    <ul class="side-nav__item-list">
        <li class="side-nav__item">
            <a class="<%= path === '/admin/add-details' ? 'active' : '' %>" href="/admin/add-details">ADD DETAILS</a>
        </li>
        <li class="side-nav__item">
            <a class="<%= path === '/admin/dashboard' ? 'active' : '' %>" href="/admin/dashboard">DASHBOARD</a>
        </li>
        <li class="side-nav__item">
            <a class="<%= path === '/about-us' ? 'active' : '' %>" href="/admin/about-us">ABOUT</a>
        </li>
        <li class="side-nav__item">
            <a class="<%= path === '/teams' ? 'active' : '' %>" href="/admin/teams">TEAM</a>
        </li>
    </ul>
</div>
<% } %>