@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}
.small-text {
  font-style: inherit;
  font-size: 12px;
}
.logo-text__size {
  font-style: inherit;
  font-size: 20px;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #CC0000;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__side-nav {
  position: absolute;
  height: 900px;
  width: auto;
  padding: 20px 20px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.side-nav__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}
.side-nav__item {
  width: 130px;
  margin: 0 1rem;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #666666;
}

.side-nav__item a {
  text-decoration: none;
  color: red;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}
.side-nav__item a:hover,
.side-nav__item a:active,
.side-nav__item a.active {
  color: #666666;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: #00695c;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}
.username-style {
  width: 60%;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  margin: 0 0 0 15%;
  justify-content:flex-start;
  border-bottom: 2px solid #c7c7c7;
}
.grid {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  margin-left: 15%;
}
.balance-text__style {
  font-size: 18px;
  color: #CC0000
}
.user-details__grid {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}
.user-details__grid td, .user-details__grid th {
  border: 1px solid #ddd;
  padding: 8px;
}
.user-details__grid tr:nth-child(even){background-color: #f2f2f2;}
.user-details__grid tr:hover {background-color: #ddd;}
.user-details__grid th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #169BD5;
  color: white;
}
.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
.card__header,
.card__content {
  padding: 1rem;
}
.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}
.card__image {
  width: 100%;
}
.card__image img {
  width: 100%;
}
.card__actions {
  padding: 1rem;
  text-align: center;
}
.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}
.logout {
    display: inline-block;
    padding: 3px 12px 3px 12px;
    text-decoration: none;
    font: inherit;
    border: 1px solid #c7c7c7;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}
.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

.danger {
  border: 1px solid red;
  color: red;
}
.danger:hover,
.danger:active {
  background-color: red;
  color: white;
}
.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}
.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
}
.title-style {
  text-transform:capitalize;
}
.logo-text {
  display: flex;
  flex-flow: column;
  height: auto;
  color: #ffffff;
}
.team-member__style {
  margin-left: 20px;
  color: #666666;
}
.avatar {
  margin-top: 18px;
  width: 30px;
  height: 30px;
  background: #eeeeee;
  border: 1px solid #666666;
  border-radius: 50%;
}
.team-member__alignment {
  margin-left: 15%;
  display: flex;
}
.last-login__text-size {
  margin: -12px 0 10px 0;
  font-family: inherit;
  font-size: 12px;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 30rem;  
 }
}
