<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <%- include('../includes/side-navigation.ejs') %>
    <main>
        <header class="username-style">
            <h2>About iJavascript</h2>
        </header>
        <div class="grid">
            <p>iJavascript is a research group, founded to check different javascript frameworks based on different design patterns. <br/><br/>
                During kick-off it will test React, Angular, Knockout and Ember JS features. This use case will prove different aspects of framework capabilities.</p>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>