<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <%- include('../includes/side-navigation.ejs') %>
    <main>
        <header class="username-style">
            <h2>Meet the Team</h2>
        </header>
        <% if (teamMembers && teamMembers.length > 0) { %>
            <% teamMembers.forEach(member => { %>
                <div class="team-member__alignment">
                    <div class="avatar"></div>
                    <h3 class="team-member__style"><%= member %></h3>
                </div>
            <% }) %>
        <% } else { %>
            <div class="grid">
                <h1>No Team Detail's Found!</h1>
            </div>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>